
@font-face {
  font-family: Typographica;
  src: url(Fonts/typographica.ttf);
  }

@font-face {
font-family: Zyzol;
src: url(Fonts/Zyzol.otf);
}

@font-face {
font-family: Fredoka;
src: url(Fonts/Fredoka.ttf);
}

* {
  font-family: Fredoka;
}

body {
  margin: 0;
  background-color: rgb(3, 1, 41);
  scrollbar-width: none;
}

body[theme="default"] {
  --background: #1c1c1c;
  --theme: #4caf50;
  --text: white;
  --text-secondary: black;
}

  ul {
    display: inline;
    margin: 0;
    padding: 0;
}

  li {
    margin: 0 20px;
    list-style: none;
    display: inline;

}

  a {
  display: inline-block;
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: aliceblue;
  text-decoration: none;
}


h1, h2 {
    text-align: center;
    font-size: 4em;
    color: white;
}

h2 {
    font-size: 2em;
}

.motto {
    max-width: 60%;
    border-radius: 25px;
}

div {
    text-align: center;

}

.div2 {
    margin-top: 20px;
}

button, h4 {
    cursor: pointer;
    border: none;
    font-size: 1.2em;
    background-color:rgb(0, 119, 255);
    color: aliceblue;
}

button {
  max-width: 200px;
  border-radius: 20px;
  min-width: 200px;
  width: 240px;
  margin: 1px;
  margin-bottom: 130px;

}

footer {
  background-color: rgb(0, 119, 255);
  padding: 0 0;

}

footer li {
  padding: 0 1%;
}

.divfooter {
  display: flex;
  align-items: center;
}

.divfooter a {
  padding: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.divfooter ul {
  flex-grow: 1;
  text-align: end;
}

ul img {
  width: 40px;
}

.email {
  color: white;
  margin-left: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.games a {
  color: white;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0px;
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
}

.games a img {
  color: white;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0px;
  font-weight: bolder;
  border-radius: 25px;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

p {
  font-family: Arial;
  font-weight: bolder;
  text-align: center;
  color: white;
}

iframe, dl, embed {
  margin-top: 50px;
}

div a {
  margin-left: 20px
}


.about2, .about2 p, .about2 a, .about2 h2, .aboutlink a, .aboutlink {
  text-align: left;
  color: white;
}

.aboutlink a {
  font-family: Arial, Helvetica, sans-serif;
  color: purple;
}

.bypasstitle {
  color: rgb(0, 119, 255);
  font-family: Fredoka;
  font-weight: 100;
  text-align: left;
}

.descriptions {
  color: rgb(0, 119, 255);
  font-family: Fredoka;
  font-weight: 100;
  text-align: left;
  font-size: 0.8em;
}

.bypasscode {
  text-align: left; 
  font-size: 0.8em;
  color: blue;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.bypasscode a {
  font-family: Fredoka;
  text-align: left;
}

.scriptdiv {
  text-align: left;
  margin: 0px;
  margin-left: 10px;
}

.bypasscode ::-webkit-scrollbar {
  width: 10px;
  background: transparent;
  border-radius: 1em;
}

pre::-webkit-scrollbar-thumb {
  width: 5px;
  background: grey;
  border-radius: 1em;
}

pre {
  background: #04003a;
  border: 1px solid #04003a;
  border-radius:1em;
  color: #ffffff;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin: 0px;
  margin-bottom: 15px;
  max-width: 95vw;
  overflow: auto;
  padding: 1em;
  padding-bottom: 13px;
  display: block;
  word-wrap: break-word;
}

span {
  text-align: left;
  align-items: left;
}

.homeimg {
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.homeimgimg {
  position: relative;
  top: 100px;
  width: 40%;
}

.homeimg h2 {
  position: relative;
  top: 100px;
}

.gamesimg {
  align-items: center;
  text-align: center;
}

.gamesimg img {
  width: 15%;
  margin-top: 10px;
}

.prxxybutton, .prxxybutton button {
font-size: 50px;
text-align: center;
margin-bottom: 0px;
border-bottom: 0px;
padding-bottom: 0px;
}

.prxxybutton h1 {
  font-size: 3em;
  margin-bottom: 0px;
  border-bottom: 0px;
  padding-bottom: 0px;
}

.prxxybutton a {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: blue;
  text-decoration: none;
}

.prxxybutton h2 {
font-size: .5em;
}

.fullscreendiv {
margin: 15px;
margin-top: 0px;
margin-bottom: 0px;
min-width: 200px;
}

.fullscreendiv button {
width: fit-content;
max-width: fit-content;
margin-bottom: 10px;
margin-top: 0px;
background-color: transparent;
}

.fullscreendiv button img {
  border-radius: 25px;
  }

.div2 button {
margin-bottom: 10px;
}

h2 a img {

width: 30px;
}

h2 a {
text-decoration: underline;
cursor: pointer;
color: blue;
font-family: Fredoka;
}

.featured {
text-align: center;
display: flex;
justify-content: space-evenly
}

.newspage{
text-align: left;
}

.newspage div img {
min-width: 300px;
max-width: 300px;
border-radius: 20px;
margin: 20px;
margin-bottom: 0px;
margin-top: 0px;
}

.newspage div a {
cursor: pointer;
}

.newspage h1 {
text-align: left;
margin: none;
margin-left: 50px;
margin-bottom: 0;
}

.newstitle {
text-align: center;
align-items: center;
font-size: 1.3em;
margin-left: 30px;
}

.newstitle h2 {
margin: 0px;
text-align: left;
}

.newstitle p {
text-align: left;
margin-top: 0px;
}

.article {
font-family: Fredoka;
max-width: 450px;
font-size: 1em;

}

.newstitle h3 {
color: white;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 0px;
}

.newsdate {
font-size: 0.7em;
}

.sitemapcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.sitemap {
text-align: left;
display: inline-block;
}

.sitemapsettings input {
   display: block;
   margin : auto;
}

.sitemapsettings iframe {
  background-color: transparent;
  overflow: auto;
  overflow-clip-margin: none;
  width: 70vw;
  height: 500px;
}

.sitemap a {
font-family: Fredoka;
font-size: 1.3em;
}

.privacypolicy {
  margin: auto;
font-family: Fredoka;
max-width: 1400px;
font-size: 1em;

}

.link {
font-size: 1em;
color: blue;
font-family: Fredoka;
text-decoration: underline;
margin: 0;
border: 0;
padding: 0;
}

.gameicon {
width: 250px;
height: 250px;
}

.animationicon {
  width: 310px;
  height: 180px;
  }

iframe {
  background-color: wheat;
  position: relative;
  border: none;
  top: 0; right: 0;
  bottom: 0; left: 0;
  height: 60vh;
  width: 60vw;

}

section {
width: 1030px;
position: relative;
margin: auto;
}

.Gameinfo {
margin: 0;
background-color: rgb(0, 119, 255);
width: 1024px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
z-index: 1000;
margin-bottom: 1%;
text-align: left;
}

.Gameinfo h1 {
font-family: Fredoka;
font-weight: 5000;
font-size: 2.2em;
text-align: left;
margin: 0%;
margin-left: 10px;
padding: 0%;
}

.Gameinfo a {
font-family: Fredoka;
font-weight: 5000;
font-size: 20px;
margin: 0%;
margin-left: 10px;
padding: 0%;
cursor: pointer;
padding-bottom: 5px;
}

a button {
margin: 0%;
padding: 0%;
min-width: 10px;
max-width: 10px;
width: 10px;
}

.newsfront img {
  min-width: 215px;
  max-width: 215px;
  border-radius: 20px;
  margin: 0px;
  margin-bottom: 0px;
  }

  hr {
    height: 1px;
    background-color: rgb(0, 119, 255);
    border: none;
    min-width: none;
    max-width: 700px;
  }

  input {
    margin: auto;
    width: 300px;
    height: 20px;
    border-radius: 20px;
    border-width: 3px;
    border-color: rgb(0, 119, 255);
  }
  
  .fullscreendiv {
    transition: all .2s ease-in-out; 
  }

  .fullscreendiv:hover {
    transform: scale(1.05); 
  }

  .newsfront a  {
    transition: all .3s ease-in-out;
  }

  .newsfront a:hover {
    transform: scale(1.02);
  }

  .Gameinfo p {
    font-family: Fredoka;
    font-weight: initial;
    text-size-adjust: 0;
    text-align: left;
    margin: 0px;
    font-size: 20px;
    margin-left: 10px;
    padding-bottom: 5px;
  }

  header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    height: 65px;justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: rgb(0, 119, 255);
  }
  
  .logo {
    cursor: pointer;
    padding: 0%;
    border: 0%;
    margin: 10px;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    padding-right: 10px;
  }
  
  .nav__links li {
    padding: 5px;
    margin: 0%;
    transition: all .2s ease-in-out;
  }

  .nav__links li:hover {
    color: #000000;

  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
    font-family: Fredoka;
  }
  
  .nav__links li a:hover {
    color: #000000;
  }

  section {
    margin-top: 40px;
  }

  .container {
    position: relative;
    display: flex;
    max-width: 0px;
    min-width: 0px;
    margin: 0%;
    padding: 0%;
    border: 0%;
    width: 1000px;
    line-height: 1rem;
    font-size: 1.2em;
    color: transparent;
    background-color: transparent;
    }

    #searchbar {
    display: grid;
    margin: auto;
    padding: 5px;
    border-radius: 20px;
    width: 220px;
    }

    #searchbarbottom {
      display: grid;
      margin: auto;
      padding: 5px;
      border-radius: 20px;
      width: 200px;
      }

    input[type=text] {
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
    }

    ::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
    
    #list {
        position: absolute;
        top: 40px;
        left: 11.85em;
        overflow-y: scroll;
        z-index: 1000;
        width: 420px;
        max-height: 400px;
        justify-content: right;
        display: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
        border: 0;
        }

        .listItem {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        padding: 8px;
        margin: 0;
        font-family: Fredoka;
        font-size: 17 px;
        padding-left: 0px;
        border-radius: 5px;
        width: 150px;
        border-color: rgb(0, 119, 255);
        border-width: 3px;
        border-style: solid;

        color: black;
        background-color: white;
        }

        .listItem:hover {
          transform: scale(1.05);
        }

        #title, #icon {
          margin-bottom: 20px;
          width: 200px;
          display: block;
          margin: auto;
        }

        .featured {
          margin: 20px;
          justify-content: center;
        }

        .featuredcategory {
          font-size: 20px;
        }

        .homescreendiv {
          max-width: none;
          width: 30vw;
          height: 90px; 
          padding-inline: 10px;
        }

        .homescreendiv button {
          max-width: none;
          width: 30vw;
          height: 90px;
          border-radius: 15px;
          background-image: url(Pictures/bg-svg.png);
          padding: 0px;
          background-color: rgba(3, 1, 41, .5);
          transition: all .2s ease-in-out;
        }

        .homescreendiv button:hover {
          transform: scale(1.03);
          background-color: rgba(255, 255, 255, .1);

        }

        .homescreendiv button p {
          margin: 0;
          padding: 0;
          padding-top: 32px;
          font-family: Fredoka;
          font-weight: 10;
        }

        .homescreendiv button img {
          min-width: 0px;
          width: 90px;
          border-radius: 0px;
          height: 90px;
          float: left;
          border-radius: 15px;
        }

        h2 a img {
          width: 30px;
          max-width: 30px;
          position: relative;
          left: 5px;
        }

        h2 a  {
          text-decoration: none;
          cursor: pointer;
          color: blue;
          font-family: Fredoka;
          margin: 0px;
        }

        .gameContainer {
          display: flex;
          position: relative;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100vw;
          min-height: 80vh;
          height: 100vh;
        }

        .biopfp {
          border-radius: 50%;
          width: 200px;
          margin-left: 100px;
          margin-top: 100px;
        }

        .bioname {
          display: grid;
          width: 210px;
          align-items: center; 
          grid-template-columns: 1fr 1fr 1fr;
          column-gap: 5px;
          margin-bottom: 50px;
        }

        .bioname h1 {
          position: relative;
          top: 40px;
          left: 20px;
        }

        .bioname h3 {
          color: white;
          position: relative;
          top: 100px;
        }

        .infray {
          right: 170px;
        }

        .joe {
          right: 110px;
        }

        .biocategory {
          text-align: left;
          margin-left: 100px;
        }

        .carousel {
          max-width: 1000px;
          position: relative;
          margin: auto;
        }
        
        .carousel .carousel__item,
        .carousel .carousel__item--hidden {
          display: none;
        }
        
        .carousel .carousel__item img {
          min-width: 215px;
          max-width: 215px;
          border-radius: 20px;
          margin: 0px;
          margin-bottom: 0px;
        }
        
        .carousel .carousel__item--visible {
          display: inline-block;
          animation: fadeVisibility 0.5s;
        }
        
        .carousel .carousel__actions {
          display: flex;
          width: 100%;
          justify-content: space-between;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        
        .carousel .carousel__actions button {
          border-radius: 50px;
          border: 0;
          color: white;
          background-color: transparent;
          font-weight: bold;
          cursor: pointer;
          min-width: 40px;
          width: 10px;
          height: 40px;
          transition: all .3s ease-in-out;
        }

        .carousel__actions button { 
          transform: scale(1.05); 
        }
        
        .carousel .carousel__actions button#carousel__button--prev {
          margin-top: 70px;
          margin-left: 20px;
        }
        
        .carousel .carousel__actions button#carousel__button--next {
          margin-top: 70px;
          margin-right: 20px;
        }
        
        @keyframes fadeVisibility {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
            transform: opacity linear;
          }
        }

        .carousel__item a {
          position: relative;
          z-index: 1000;
          margin: 0;
        }

        .Gamesinfo {
          margin: auto;
          display: inline-block;
          background-color: rgb(0, 119, 255);
          width: 60vw;
          height: 90px;
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 25px;
          z-index: 1000;
          margin-bottom: 1%;
          text-align: left;
          }

          .Gamesinfo h1 {
            font-family: Fredoka;
            font-weight: 1000;
            font-size: 2.5em;
            vertical-align: middle;
            text-align: left;
            margin: 0;
            border: 0;
            padding: 0;
            margin-left: 10px;
            padding: 0%;
            }

            .Gamesinfo h2 {
              position: relative;
              font-family: Fredoka;
              font-weight: 1000;
              font-size: 1.2em;
              vertical-align: middle;
              text-align: left;
              top: 5px;
              margin: 0;
              border: 0;
              padding: 0;
              margin-left: 10px;
              padding: 0%;
              }

            .fullscreenbtn {
              float: right;
              border: 0;
              margin: 0;
              text-align: left;
              padding: 0;
              min-width: 0px;
              width: auto;
              position: relative;
              bottom: 31px;
              z-index: 1000;
              right: 15px;
              cursor: pointer;
              }

              .fullscreenbtn img {
                width: 55px;
                margin: 0;
                padding: 0;
                }
  
            .Gamesinfo button {
              width: auto;
              margin: 0%;
              padding: 0;
              cursor: pointer;
              max-width: none;
              padding-bottom: 10px;
              }

              .gameContainer iframe {
                position: relative;
                z-index: 10000;
              }

              .requestforms {
                display: flex;
                justify-content: center;
                min-width: none;
                max-width: 1400px;
                margin: auto;
              }

              .requestforms iframe {
                align-items: center;
                margin: auto;
                min-width: none;
                max-width: 700px;
              }

              .Options {
                width: 40px;
                height: 40px;
                border-radius: 20px;
                padding: 0px;
                padding-left: 10px;
                padding-right: 10px;
                margin-top: 15px;
              }

              .Options:hover {
                background-color:rgba(255, 255, 255, 0.1);

              }

              #popup {
                position: fixed;
                top: 8vw;
                width: 60vw;
                height: 70vh;
                background-color: rgb(3, 1, 41);
                border-radius: 75px;
                border-width: 10px;
                border-style: solid;
                border-color: rgb(0, 119, 255);
                display: none;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1001;
                overflow: auto;
              }

              #popup h1 {
                font-size: 2vw;
              }

              .settingsheader {
                color: white;
                position: relative;
                margin: 0;
                left: 50%;
                transform: translateX(-50%);
                margin-left: 0px;
                text-align: center;
                margin-top: 20px;
              }

              #popup iframe {
                position: relative;
                background-color: transparent;
                overflow: auto;
                overflow-clip-margin: none;
                width: 100%;
                height: 100%;
                left: 50%;
                transform: translateX(-50%);
              }

              .Close {
                position: absolute;
                width: 50px;
                height: 50px;
                float: right;
                top: 20px;
                right: 20px;
              }

              .inputcontainer div {
                display: inline-block;
                margin: 1px;
              }

              .inputcontainer img {
                margin-left: auto;
              }

              .inputcontainer div button {
                min-width: 0;
                padding: 3px;
                width: 70px;
                margin: 0;
              }

              .headinputcontainer div {
                display: inline-block;
              }

              .searchcontainer {
                display: inline-block;
                text-align: center;
              }

              select {
                margin: auto;
                width: 200px;
                height: 35px;
                border-radius: 20px;
                border-width: 3px;
                border-color: rgb(0, 119, 255);
              }

              #website-input {
                width: 175px;
              }
              

              #key-select {
                height: 28px;
                width: 175px;
              }

              video {
                width: 50%;
                display: block;
                margin: auto;
                border-radius: 10px;
              }
